### Segmented Analysis

What percentage of females in the age group 20-24 are illiterate in India, i.e. out of all the females in the age group 20-24, what fraction is illiterate?

In [55]:
import numpy as np
import pandas as pd

df = pd.read_csv('EDA_census_2.csv')
df.head()

,Table_Name,State_Code,Distt_Code,Area_Name,Class,Age-group,Total_Persons,Total_Males,Total_Females,Illiterate_Persons,...,N_T_D_Females,T_D_Persons,T_D_Males,T_D_Females,G_Persons,G_Males,G_Females,U_Persons,U_Males,U_Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
1,C2308,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,...,0,0,0,0,0,0,0,0,0,0
2,C2308,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,...,0,0,0,0,0,0,0,136465,75715,60750
3,C2308,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,...,0,0,0,0,0,0,0,96524,52561,43963
4,C2308,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,...,0,0,0,0,0,0,0,70452,38456,31996

In [56]:
Total_F_20_24 = df[df['Age-group']=='20-24'][df['Area_Name'] == 'INDIA'][df['Class']=='Total']['Total_Females']
Total_F_I_20_24 = df[df['Age-group']=='20-24'][df['Area_Name'] == 'INDIA'][df['Class']=='Total']['Illiterate_Females']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [57]:
(Total_F_I_20_24/Total_F_20_24)*100

15    22.683085
dtype: float64

Compare the literacy rates (i.e. the number of literates / total number of population) in each age group and choose the correct option.

In [58]:
df2 = df[df['Area_Name']=='INDIA'][df['Class']=='Total']
df2.set_index("Age-group",inplace=True)
def per_lit_each_age_group(row):
    if (row['Literate_Persons'] == '0'):
        return None
    return (row['Literate_Persons']/row['Total_Persons'])*100
df2.apply(per_lit_each_age_group,axis=1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Age-group
All ages          63.066084
0-6                0.000000
7                 72.818658
8                 84.680522
9                 89.362038
10                88.693071
11                91.962826
12                91.421234
13                92.543554
14                91.682750
15                89.961344
16                89.783437
17                90.392562
18                86.665872
19                87.637647
20-24             83.235699
25-29             77.681141
30-34             72.538435
35-39             67.274016
40-44             62.993414
45-49             59.758607
50-54             57.565672
55-59             54.830491
60-64             46.926523
65-69             43.943993
70-74             39.774485
75-79             41.931327
80+               38.963204
Age not stated    64.559417
dtype: float64

In [60]:
def per_lit_each_state(row):
    if (row['Literate_Persons'] == '0'):
        return None
    return (row['Literate_Persons']/row['Total_Persons'])*100
df2 = df[df['Class']=='Total'][df['Age-group']=='All ages']
df2.set_index("Area_Name",inplace=True)
df2

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Table_Name,State_Code,Distt_Code,Area_Name,Class,Age-group,Total_Persons,Total_Males,Total_Females,Illiterate_Persons,...,N_T_D_Females,T_D_Persons,T_D_Males,T_D_Females,G_Persons,G_Males,G_Females,U_Persons,U_Males,U_Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
87,C2308,1,0,State - JAMMU & KASHMIR,Total,All ages,12541302,6640662,5900640,5474069,...,1239,50822,33854,16968,653764,401279,252485,33609,19744,13865
174,C2308,2,0,State - HIMACHAL PRADESH,Total,All ages,6864602,3481873,3382729,1824866,...,4442,53413,37213,16200,446609,251164,195445,9637,4768,4869
261,C2308,3,0,State - PUNJAB,Total,All ages,27743338,14639465,13103873,9036201,...,13170,234365,147801,86564,1760846,873776,887070,42234,22645,19589
348,C2308,4,0,State - CHANDIGARH,Total,All ages,1055450,580663,474787,250012,...,996,13801,9660,4141,194453,104748,89705,1628,801,827
435,C2308,5,0,State - UTTARAKHAND,Total,All ages,10086292,5137773,4948519,3205339,...,1714,36172,30072,6100,910288,512068,398220,17245,8674,8571
522,C2308,6,0,State - HARYANA,Total,All ages,25351462,13494734,11856728,8752474,...,12840,195115,143883,51232,1877085,1102809,774276,31786,16548,15238
609,C2308,7,0,State - NCT OF DELHI,Total,All ages,16787941,8987326,7800615,4050174,...,6108,94586,61852,32734,2757844,1535972,1221872,14229,7666,6563
696,C2308,8,0,State - RAJASTHAN,Total,All ages,68548437,35550997,32997440,30273155,...,2721,164634,129531,35103,3063282,2086247,977035,180158,105774,74384
783,C2308,9,0,State - UTTAR PRADESH,Total,All ages,199812341,104480510,95331831,85414786,...,62631,189869,167522,22347,9919838,6378138,3541700,480104,282854,197250
870,C2308,10,0,State - BIHAR,Total,All ages,104099452,54278157,49821295,51594899,...,34095,35466,30839,4627,3061676,2326092,735584,356290,209443,146847
957,C2308,11,0,State - SIKKIM,Total,All ages,610577,323070,287507,165625,...,52,1633,1187,446,32669,19290,13379,2231,1559,672
1044,C2308,12,0,State - ARUNACHAL PRADESH,Total,All ages,1383727,713912,669815,617722,...,172,4394,3573,821,53606,36430,17176,1874,1112,762
1131,C2308,13,0,State - NAGALAND,Total,All ages,1978502,1024649,953853,636068,...,286,4934,3411,1523,89718,53023,36695,3857,2082,1775
1218,C2308,14,0,State - MANIPUR,Total,All ages,2855794,1438586,1417208,947318,...,153,7971,3662,4309,225620,135082,90538,3545,2019,1526
1305,C2308,15,0,State - MIZORAM,Total,All ages,1097206,555339,541867,249031,...,89,1862,1111,751,49621,29527,20094,1012,530,482
1392,C2308,16,0,State - TRIPURA,Total,All ages,3673917,1874376,1799541,869134,...,94,5977,4781,1196,137812,88621,49191,9228,4539,4689
1479,C2308,17,0,State - MEGHALAYA,Total,All ages,2966889,1491832,1475057,1181884,...,64,3477,2189,1288,90519,46311,44208,5819,3064,2755
1566,C2308,18,0,State - ASSAM,Total,All ages,31205576,15939443,15266133,12027599,...,577,36671,30143,6528,1011345,639241,372104,34022,19944,14078
1653,C2308,19,0,State - WEST BENGAL,Total,All ages,91276115,46809027,44467088,29737834,...,4891,138525,120335,18190,4827817,3088673,1739144,225742,122125,103617
1740,C2308,20,0,State - JHARKHAND,Total,All ages,32988134,16930315,16057819,14660065,...,8468,64868,55953,8915,1328477,906174,422303,3973,2404,1569
1827,C2308,21,0,State - ODISHA,Total,All ages,41974218,21212136,20762082,15231623,...,6202,188268,157099,31169,1783797,1174184,609613,60901,34734,26167
1914,C2308,22,0,State - CHHATTISGARH,Total,All ages,25545198,12832895,12712303,10165276,...,1135,51590,45165,6425,1018853,659081,359772,45061,23827,21234
2001,C2308,23,0,State - MADHYA PRADESH,Total,All ages,72626809,37612306,35014503,29775640,...,2918,99838,85480,14358,3222802,2051127,1171675,154582,86320,68262
2088,C2308,24,0,State - GUJARAT,Total,All ages,60439692,31491260,28948432,19346334,...,11764,661401,455161,206240,3174158,1891932,1282226,143292,72195,71097
2175,C2308,25,0,State - DAMAN & DIU,Total,All ages,243247,150301,92946,54841,...,42,2997,2226,771,12802,8425,4377,422,257,165
2262,C2308,26,0,State - DADRA & NAGAR HAVELI,Total,All ages,343709,193760,149949,120479,...,69,4748,3645,1103,19174,12227,6947,539,335,204
2349,C2308,27,0,State - MAHARASHTRA,Total,All ages,112374333,58243056,54131277,30820043,...,24973,858367,680370,177997,8639081,5167671,3471410,440317,199644,240673
2436,C2308,28,0,State - ANDHRA PRADESH,Total,All ages,84580777,42442146,42138631,34024017,...,21666,705274,587970,117304,5577387,3632622,1944765,349826,197474,152352
2523,C2308,29,0,State - KARNATAKA,Total,All ages,61095297,30966657,30128640,20447975,...,46956,793066,610709,182357,4043647,2489209,1554438,124199,65539,58660
2610,C2308,30,0,State - GOA,Total,All ages,1458545,739140,719405,293058,...,796,35594,24792,10802,146828,74077,72751,7086,2963,4123
2697,C2308,31,0,State - LAKSHADWEEP,Total,All ages,64473,33123,31350,11920,...,35,853,551,302,2302,1458,844,76,47,29
2784,C2308,32,0,State - KERALA,Total,All ages,33406061,16027412,17378649,5270237,...,39593,895188,508075,387113,2531321,1131336,1399985,57435,26480,30955
2871,C2308,33,0,State - TAMIL NADU,Total,All ages,72147030,36137975,36009055,20309523,...,33741,1558526,1143646,414880,5457742,3119342,2338400,185551,97216,88335
2958,C2308,34,0,State - PUDUCHERRY,Total,All ages,1247953,612511,635442,290644,...,911,39316,27765,11551,142029,79482,62547,3078,1313,1765
3045,C2308,35,0,State - ANDAMAN & NICOBAR ISLANDS,Total,All ages,380581,202871,177710,86300,...,121,5138,2935,2203,24159,13622,10537,982,477,505